/*font-family: 'Tajawal', sans-serif;

font-family: 'Almarai', sans-serif;
font-family: 'Lemonada', cursive;*/


h1 {
    font-family: 'Almarai', sans-serif;
    font-size: 4.5rem;
}

h5 {
    font-family: 'Lemonada', cursive;
    font-size: 3.25rem;
    text-align: center;
}

h6 {
    font-size: 1.5rem;
}

.footer-p {
    text-align: center;
}

.icon-footer {
    font-size: 2.5rem;
}

p {
    font-family: 'Tajawal', sans-serif;
    font-size: 3rem;
    text-align: justify;
}

.btn {
    font-size: 3.5rem !important;
    font-family: 'Scheherazade', sans-serif;
}

.btn-main {
    width: 100%;
}

.navbar-brand {
    font-size: 2.5rem !important;
}

.nav-link {
    font-size: 2.5rem !important;
}

.form-control {
    font-size: 2rem !important;
}
